<header>
  <nav>
    <%= image_tag("logo.png")%>
    <ul>
      <li>
        <%= link_to "Released", movies_path %>
      </li>
      <li>
        <%= link_to "Upcoming", filtered_movies_path(:upcoming) %>
      </li>
      <li>
        <%= link_to "Recent", filtered_movies_path(:recent) %>
      </li>
    </ul>
    <ul class="right">
      <% if current_user%>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to "sign out", session_path, class: "button", data: { turbo_method: :delete, turbo_confirm: 'Really?'} %>
        </li>
      <% else %>
        <li>
          <%= link_to "sign in", new_session_path, class: "button" %>
        </li>
        <li>
          <%= link_to "sign up", signup_path, class: "button" %>
        </li>      
      <%end%>
    </ul>
  </nav>
</header>